
<div id="over_map_form">

  <%= simple_form_for(@map) do |f| %>

  <div class="field">
    <%= f.input_field :title ,placeholder: '名稱',:required => true, maxlength: 25 %>
  </div>
  <br>
  <div class="field">
    <%= f.input_field :description,placeholder: '說明',:required => true,style: "width:100%;height:130px" %>
  </div>
  <div class="field">
    <%= f.input_field :private,inline_label: "設為私人",as: :boolean %>
  </div>
  <div class="actions">
    <%= f.submit '送出', :class => "btn btn-success" %>
  </div>
  <% end %>
</div>