
<div id="over_map_form">

  <%= simple_form_for(@map) do |f| %>
  <%= render 'common/error_messages', object: f.object %>
  <div class="field">
    <%= f.input_field :title ,placeholder: '名稱',:required => true, maxlength: 25 %>
  </div>
  <br>
  <div class="field">
    <%= f.label "描述：" %>
    <%= f.input_field :description,:required => true,style: "display:none" %>
    <% content_for :trumbowyg_content do %>
    <% if !@map.description.nil? %>
    <%= sanitize @map.description %>
    <% end %>
    <% end %>
    <%= render template: "common/trumbowyg" %>
  </div>
  <div class="field">
    <%= f.input_field :private,inline_label: "設為私房地圖",as: :boolean %>
    <p>私房地圖：<ul><li>只有自已可以編輯</li><li>有連結的人才能觀看</li><li>不會出現在地圖列表內</li> </ul></p>
    <p>公開地圖：<ul><li>登入的使用者都可以編輯</li></ul></p>
  </div>
  <div class="actions">
    <%= f.submit '送出', :class => "btn btn-success" %>
  </div>
  <% end %>
</div>


<% content_for :javascripts do %>
<script type='text/javascript'>
(function(scope){
  $("input[type=submit]").on('click',function() {
    var form_id = $("form:eq(1)").attr("id");
    $("#map_description").val($("#trumbowyg").html());
    $( "#"+form_id ).submit();
  });
})(window);

</script>
<% end %>