<%= render :partial => "maps/map" %>

<% content_for :sidebar_content do %>


      <h3>設定地圖</h3>

    <%= render :partial => "maps/form" %>

    <% if can?(:manage, @map) %>
      <h3>邀請</h3>
      <input id="permission_email" maxlength="20" placeholder="輸入E-mail" size="20" type="text" value="">
      <%= link_to "Go", "#" ,id:"permission_submit",class: "btn btn-default btn-xs" %>
      <h3>設定權限</h3>


      <table class="table table-striped">
        <thead>
          <tr>
            <th>E-mail</th>
            <th>admin</th> 
            <th>invitee</th>
            <th>other</th>   
          </tr>
        </thead>
        <tbody>
          <% @manager_users.each do |u| %>
          <tr>
            <td><%= u.email %></td>
            <td>V</td>
            <td></td>
            <td></td>
          </tr>
          <% end %>
          <% @invitee_users.each do |u| %>
          <tr>
            <td><%= u.email %></td>
            <td></td>
            <td>V</td>
            <td></td>
          </tr>
          <% end %>
          <% @other_users.each do |u| %>
          <tr>
            <td><%= u.email %></td>
            <td></td>
            <td></td>
            <td>V</td>
          </tr>
          <% end %>

        </tbody>
      </table>
    <% end %>

<% end %>
<%= render template: "common/sidebar_right" %>



<% content_for :javascripts do %> 
<script type='text/javascript'>
(function(){

  $.ajax({
    url: "/maps/<%= @map.id %>/locations",
    dataType: "json",
    success: function (data) {
      var keysArray = Object.keys(data);
      for (var i=0; i<keysArray.length; i++){
        // var circle = L.circle([data[keysArray[i]][1], data[keysArray[i]][0]], 500, {
        //   color: 'red',
        //   fillColor: '#f03',
        //   fillOpacity: 0.5
        // }).addTo(map);
        // circle.bindPopup(data[keysArray[i]][2]);
        //console.log(data[keysArray[i]]);
        var marker = L.marker([data[keysArray[i]]["lat"], data[keysArray[i]]["lng"]],{icon:otherMarker} ).addTo(map);

        var text = "<h2>"+data[keysArray[i]]["title"]+"</h2>";
        marker.bindPopup(text);
      }
    }
  });


  $('#permission_submit').click(function(){
    $.ajax({
      url: '/maps/<%= @map.id %>/assign_invitee_role',
      type:'post',
      dataType: "json",
      data: { email: $('#permission_email').val() },
      success: function(data) {
        //console.log(data);
        location.reload();
      },
      error: function(e){
        alert(e.statusText);
      }
    });
    
  });

})();

</script>
<% end %>

