

<% content_for :sidebar_content do %>


<h3>設定地圖</h3>

<% content_for :form_content do %>
<br>
<div class="field">
  <%= render template: "common/edit_location_pin_upload" %>
</div>
<% end %>
<%= render template: "maps/form" %>

<hr>
<h3>邀請好友共同管理地圖</h3>
<%= simple_form_for @map, url: invite_member_map_path, html: { method: :post} do |f| %>

<input type="text"  name="email" class="form-control" placeholder="your_friend@gmail.com" />
<br>
<%= f.button :submit, t("devise.invitations.new.submit_button"),class: "btn btn-success" %>
<% end %>

<% end %>
<%= render template: "common/sidebar_right" %>



<% content_for :javascripts do %>
<script type='text/javascript'>
  (function(){

    get_marker_and_pin_in_map(<%= @map.id %>,function(marker,map_id){
      marker.on('click',function(event){
        location.href = '/maps/'+map_id+'/locations/'+event.target.options.location_id;
      });
    });
  })();

</script>
<% end %>

