<%= render :partial => "maps/map" %>
<% content_for :sidebar_content do %>

  <%= render "common/sidebar_index" %>
<% end %>
<%= render template: "common/sidebar" %>


<% content_for :javascripts do %>
<script type='text/javascript'>
(function(scope){

  var sidebar = L.control.sidebar('sidebar', {
    position: 'left'
  });

  map.addControl(sidebar);
  sidebar.show();

  var markers = new L.MarkerClusterGroup();
  $.ajax({
    url: "/maps/<%= @map.id %>/locations",
    dataType: "json",
    success: function (data) {
      var keysArray = Object.keys(data);
      for (var i in keysArray){
        // var circle = L.circle([data[keysArray[i]][1], data[keysArray[i]][0]], 500, {
        //   color: 'red',
        //   fillColor: '#f03',
        //   fillOpacity: 0.5
        // }).addTo(map);
        // circle.bindPopup(data[keysArray[i]][2]);
        if(!data[keysArray[i]]["lat"]){
          continue;
        }
        var marker = L.marker([data[keysArray[i]]["lat"], data[keysArray[i]]["lng"]],{icon:otherIcon,title:data[keysArray[i]]["id"]} )
        markers.addLayer(marker);
        var text = "<h2>"+data[keysArray[i]]["title"]+"</h2>";
        marker.bindPopup(text);

        marker.on('click',function(event){
          var alatlng = event.latlng;
          $.ajax({
            url: '/maps/<%= @map.id %>/locations/' +event.target.options.title ,
            dataType:'script'
          }).success(function(data){
            // event.target.bindPopup($('#content').html());
            // event.target.openPopup();
            sidebar.show();
          });
        });
      }
      map.addLayer(markers);
    }
  });


})(window);

</script>
<% end %>

