
<% content_for :sidebar_content do %>


<% end %>
<%= render template: "common/sidebar" %>

<%= render template: "common/sidebar_right" %>

<% content_for :javascripts do %>

<script type='text/javascript'>
(function(scope){
  var sidebar = L.control.sidebar('sidebar', {
    position: 'left'
  });

  map.addControl(sidebar);
  sidebar.show();

  StyleDropper.drop(<%= sanitize @style %>);

  var markers = new L.MarkerClusterGroup();

})(window);

var hightlighter;
var editor;

$(window).load(function(){

  // Add 'rh' attribute to element for highlight
  hightlighter = new RegionHighlighter(document.body, { querySelector: "[se-id]" });

  editor = new StyleEditor({
    renderTo: document.getElementById('float-editor'),
    imageUploadOptions:{
      url:{
        create: '<%= map_style_img_path(@map) %>',
        remove: '<%= map_style_img_path(@map) %>'  
      },
      uploadParams:{ "authenticity_token" : $('[name=csrf-token]').attr('content') },
      removeParams:{ "authenticity_token" : $('[name=csrf-token]').attr('content') },
      filenameGenFn: function(name){
        return [$(this._el).parents("[se-map-id]").attr('se-map-id'), name].join('_');
      },
    },
    submitText: 'Save',
    submitClick: function(event, el){
      // $.ajax({
      //   type: "post",
      //   url: url,
      //   data: {
      //     authenticity_token: $('[name=csrf-token]').attr('content'),
      //     _method: 'patch',
      //     map:{
      //       style: JSON.stringify(StyleDropper.suck("se-id"))
      //     }
      //   },
      //   success: function(data, status, xhr){
      //   },
      //   dataType: 'json'
      // });
      $('#style_string').text(JSON.stringify(StyleDropper.suck("se-id")));
      document.getElementById('style_submit_id').click();
    }
  });

  hightlighter.onclick(function(o, e){
    var id = $(this).attr("se-id");
    if(id){
      editor.setActive(id);
    }
  });

  // editor.syncByElement();
  editor.setActive(0);
  editor.show();


  // hightlighter.onclick(function(o, e){ alert("shit"); });
  
  // hightlighter.addRegion(".leaflet-sidebar #sidebar", {
  //   click: function(o, e){ alert("sidebar left"); }
  // });
  // hightlighter.addRegion(".leaflet-control-container .left .close", {
  //   click: function(o, e){ alert("close left"); }
  // });
  // hightlighter.addRegion(".leaflet-sidebar #sidebar_right", {
  //   click:function(o, e){ alert("sidebar right"); }
  // });
  // hightlighter.addRegion(".leaflet-control-container .right .close", {
  //   click: function(o, e){ alert("close right"); }
  // });
  
  // // select the target node
  // var target = document.querySelector('#sidebar');
   
  // // create an observer instance
  // var observer = new MutationObserver(function(mutations) {
  //   mutations.forEach(function(mutation) {
  //     console.log(mutation.type);
  //   });    
  // });
   
  // // configuration of the observer:
  // var config = { attributes: true, childList: true, characterData: true, attributeOldValue: true };
   
  // // pass in the target node, as well as the observer options
  // observer.observe(target, config);

  // var up = document.getElementById('bimgUpload');
  // up.addEventListener('change', function(e){
  //   var self = this;
  //   if(self._isUploading !== true){
  //     self._isUploading = true;
  //     if(self.files.length){
  //       // create
  //       var f = new FormData();
  //       var fileBlob = self.files[0];
  //       f.append(self.name, fileBlob, 'id_bk_img');
  //       f.append("authenticity_token", $('[name=csrf-token]').attr('content'));
  //       f.append("img_url", '');
  //       $.ajax({
  //         type: "POST",
  //         url: '<%= map_style_img_path(@map) %>',
  //         cache: false,
  //         contentType: false,
  //         processData: false,
  //         data: f,
  //         success: function(o){
  //           self._isUploading = false;
  //           alert(JSON.stringify(o));
  //         },
  //         error:function(o, title, content){
  //           self._isUploading = false;

  //         }
  //       });
  //     }else{
  //       // delete

  //     }
  //   }
  // });
});

</script>
<% end %>
<div id="float-editor">
  <!-- <input id="bimgUpload" type="file" name="se_img" accept="image/*"/> -->
  <%= simple_form_for @map, :html => { :style => 'display:none' } do |f| %>
  <%= f.input_field :style, as: :text, id: 'style_string' %>
  <%= f.submit '送出', id:'style_submit_id' %>
  <% end %>
</div>
