<%= render :partial => "maps/map" %>

<% content_for :sidebar_content do %>

<% content_for :trumbowyg_content do %>
<p>A responsive sidebar plugin for for <a href="http://leafletjs.com/">Leaflet</a>, a JS library for interactive maps.</p>

<p><b>Click on the marker to show the sidebar again when you've closed it.</b></p>

<p>Other examples:</p>

<ul>
  <li><a href="listing-markers.html">listing-markers example</a></li>
  <li><a href="two-sidebars.html">two-sidebars example</a></li>
</ul>

<p class="lorem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

<p class="lorem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

<p class="lorem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

<p class="lorem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
<% end %>

<%= render template: "common/trumbowyg" %>
<% end %>
<%= render template: "common/sidebar" %>

<% content_for :stylesheets do %>

<%= stylesheet_link_tag "Leaflet.markercluster/dist/MarkerCluster.Default.css" %>
<% end %>
<% content_for :javascripts do %> 
<%= javascript_include_tag "Leaflet.markercluster/dist/leaflet.markercluster.js" %>

<script type='text/javascript'>
(function(scope){

  var markers = new L.MarkerClusterGroup();


  $.ajax({
    url: "/factories.json",
    dataType: "json",
    success: function (data) {
      var keysArray = Object.keys(data);
      for (var i=0; i<keysArray.length; i++){
        // var circle = L.circle([data[keysArray[i]][1], data[keysArray[i]][0]], 500, {
        //   color: 'red',
        //   fillColor: '#f03',
        //   fillOpacity: 0.5
        // }).addTo(map);
        // circle.bindPopup(data[keysArray[i]][2]);
        //console.log(data[keysArray[i]]);
        var marker = L.marker([data[keysArray[i]]["lat"], data[keysArray[i]]["lng"]],{icon:otherMarker,title:data[keysArray[i]]["_id"]["$oid"]} );
        markers.addLayer(marker);

        marker.on('click',function(event){
          var alatlng = event.latlng;
          $.ajax({
            url: "/factories/" +event.target.options.title +'.js',
            dataType:'script'
          }).success(function(data){
            event.target.bindPopup($('#content').html());
            event.target.openPopup();

          });
        });
      }
      map.addLayer(markers);
    }
  });

var mapApp = new MapApp(map,myMarker);


})(window);

</script>
<% end %>

