<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to(Setting.app_name, "/" , :class => "navbar-brand" )%>   
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= ("&nbsp;"*15).html_safe %></li>
        <li class="dropdown">
          <%= link_to "#" , :class => "dropdown-toggle", :data => { :toggle => "dropdown" } do %>
          <%= render_user_role_for_map(@map) %>
          <% end %>
          <ul class="dropdown-menu">
            <% if @maps.present? %>
            <% @maps.each do |map| %>
            <li><%= link_to(map.title, map_path(map) ) %></li>
            <% end %>
            <% end %>
            <li><%= link_to("新增地圖",new_map_path) %></li> 
          </ul>
        </li>
        <% if @map.present? && @map.id? %>
        <li><%= link_to("地圖設定",edit_map_path(@map) ) %></li>
        <% end %>
        <li><%= ("&nbsp;"*20).html_safe %></li>
      </ul>
      <%= render :partial => "common/search_form" %>
      <ul class="nav navbar-nav">
        <% if @map.present? && @map.id? %>
        <% if request.path == map_path(@map) %>
        <li><%= link_to("Pin",new_map_location_path(@map),:class => "label" ) %></li>
        <li><%= link_to("Upload csv",upload_page_map_locations_path(@map),:class => "label" ) %></li>
        <% else %>
        <li><%= link_to("Show",map_path(@map),:class => "label" ) %></li>
        <% end %>
        <% end %>
      </ul>
      <%= render :partial => "common/user_nav"%>
    </div><!--/.nav-collapse -->
  </div>

  <%= yield :submenu %>

</div>