<div id="over_map_form">

  <%= simple_form_for([@map,@location]) do |f| %>
  <%= render 'common/error_messages', object: f.object %>
  <div class="field">
    <%= f.input_field :title ,placeholder: '標題',:required => true, maxlength: 25 %>
  </div>
  <br>
  <div class="field">
    <label class="string optional control-label">上傳圖片：</label>
    <%= content_tag(:div, class: "dropzone dropzone-previews", id: "my-awesome-dropzone") do %>

    <% end %>

  </div>
  <br>
  <div class="field">
    <%= f.label "描述：" %>
    <%= f.input_field :content,:required => true,style: "display:none" %>
    <% content_for :trumbowyg_content do %>
    <% if !@location.content.nil? %>
    <%= sanitize @location.content %>
    <% end %>
    <% end %>
    <%= render template: "common/trumbowyg" %>
  </div>
  <br>
  <div class="field">
    <%= f.label "圖示：" %>
    <%= f.collection_radio_buttons :location_pin_id,  @map.location_pins.map {|x| [x.id,image_tag(x.pin.url)]}, :first, :last  %>
  </div>
  <br>
  <div class="field">
    <%= f.label "網址連結：" %>
    <%= f.input_field :link_url, size: 48 %>
  </div>
  <div class="field">
    <%= f.label "經緯度：" %>
    <%= f.input_field :lat,readonly: true, maxlength: 20  %>
    <%= f.input_field :lng,readonly: true, maxlength: 20  %>
  </div>
  <br>
  <div class="actions">
    <input type="button" name="commit" id="sendButton" value="送出" />
  </div>
  <% end %>
</div>

<% content_for :javascripts do %>
<%= javascript_include_tag "dropzone" %>
<script type='text/javascript'>

//window.originFileIds = [];
window.uploadFileList = [];
window.addedParams = {};

var doSubmitProcess = function(url, formId) {
  var file, formData, handleError, headerName, headerValue, headers, i, input, inputName, inputType, key, option, progressObj, response, updateProgress, value, xhr, _i, _j, _k, _l, _len, _len1, _len2, _len3, _m, _ref, _ref1, _ref2, _ref3, _ref4, _ref5, formEl;
  xhr = new XMLHttpRequest();

  xhr.open("POST", url, true);
  xhr.withCredentials = false;
  response = null;


  xhr.onreadystatechange=function(){
   if (xhr.readyState==4 && xhr.status==200){
     window.document.write(xhr.response);
   }

 }

 headers = {
    // "Accept": "application/json",
    //"Accept": "multipart/form-data",
    //"Accept": "application/x-www-form-urlencoded",
    "Cache-Control": "no-cache",
    "X-Requested-With": "XMLHttpRequest"
  };

  for (headerName in headers) {
    headerValue = headers[headerName];
    xhr.setRequestHeader(headerName, headerValue);
  }
  formData = new FormData();

  formEl = document.getElementById(formId);
  _ref2 = formEl.querySelectorAll("input, textarea, select, button");
  for (_k = 0, _len2 = _ref2.length; _k < _len2; _k++) {
    input = _ref2[_k];
    inputName = input.getAttribute("name");
    inputType = input.getAttribute("type");
    if (input.tagName === "SELECT" && input.hasAttribute("multiple")) {
      _ref3 = input.options;
      for (_l = 0, _len3 = _ref3.length; _l < _len3; _l++) {
        option = _ref3[_l];
        if (option.selected) {
          formData.append(inputName, option.value);
        }
      }
    } else if (!inputType || ((_ref4 = inputType.toLowerCase()) !== "checkbox" && _ref4 !== "radio") || input.checked) {
      formData.append(inputName, input.value);
    }
  }

  for(var i = 0, len = uploadFileList.length; i < len; i++){
    formData.append("photo["+i+"]", uploadFileList[i], uploadFileList[i].name);
  }


  for(var k in addedParams){
    formData.append(k, addedParams[k]);
  }
  return xhr.send(formData);
};


(function(scope){
 var foundForm = $(".dropzone").parents("form")[0];


 Dropzone.options.myAwesomeDropzone = {

  url: foundForm.action,
  paramName: "photo",
  previewsContainer: ".dropzone-previews",
  acceptedFiles: "image/*",
  uploadMultiple: false,
  parallelUploads: 100,
  maxFiles: 100,
  maxFilesize: 3,
  autoProcessQueue: false,
  addRemoveLinks: true,
  removedfile: function(file) {

    _.remove(uploadFileList,function(uploadFile){
      return file.name === uploadFile.name
    })

    var _ref;
    return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
  },
  init: function() {
    var myDropzone = this;


    addedParams["authenticity_token"] = $('[name=csrf-token]').attr('content');


    this.on("successmultiple", function(files, response) {

    });
    this.on("errormultiple", function(files, response) {

    });
    this.on("addedfile",function(file){
      uploadFileList.push(file);
    });


  }

};

$("#sendButton").on('click',function(e) {

  $("#location_content").val($("#trumbowyg").html());
  doSubmitProcess(foundForm.action, $("form:eq(0)").attr("id"));

});
})(window);

</script>
<% end %>