<header class="note-header">
  <h1 class="note-heading"><%= link_to @location.title , @location.link_url, target: '_blank'  %></h1>
</header>
 <hr>
<div class="note-contents">
  <div class="note-media">
    <div class="note-media-object">
      <figure>
        <% if !@photos.nil?  %>
        <% @photos.each do |photo| %>
        <%= image_tag(photo.photo.send("thumb").url, :class => "thumbnail") %>
        <% end %>
        <% end %>
        <% if @location.outer_photo_url.present?  %>
        <%= image_tag(@location.outer_photo_url, :class => "thumbnail",:style => "width:100%") %>
        <% end %>
      </figure>
    </div>
  </div>
  <div class="note-message">
    <h4><%= sanitize @location.content %></h4>
  </div>
  <hr>
  <h4><%= link_to '原始連結', @location.link_url, target: '_blank'  %></h4>
  <% if !@location.user.nil?  %>
  <h6 class="note-author">Steper: <%= @location.user.name %></h6>
  <% end %>
  <% if can?(:change_map, @map) && @map.kind.nil? %>
  <%= link_to "修改", edit_map_location_path(@map,@location), class: "btn btn-info"  %>
  <% end %>
</div>