<%= render :partial => "maps/map" %>


<% content_for :sidebar_content do %>

<h3>修改位置</h3>

<% content_for :form_content do %>
<br>
<div class="field">
  <%= render template: "common/image_upload",locals: {photos: @location.photos} %>
</div>
<% end %>
<%= render template: "locations/form" %>
<br>
<%= button_to('刪除此地點', map_location_path(@map,@location), method: :delete , data: { confirm: '你確定要刪除嗎？' } , class:"btn btn-danger",style: "float:right") %>


<% end %>
<%= render template: "common/sidebar_right" %>




<% content_for :javascripts do %> 
<script type='text/javascript'>
(function(scope){

  scope.myMarker = L.marker({lat: <%= @location.lat %>, lng: <%= @location.lng %> }, {
    icon: myIcon,
    draggable: "true"
  }).addTo(map);


  myMarker.on("dragend", function(e) {
    var position = e.target.getLatLng();
    setMarkerOnMapArea(e.target, position,setLocationNumfunction);
  });

  map.on("click", function(e) {
    setMarkerOnMapArea(myMarker, e.latlng,setLocationNumfunction);
  });

})(window);

</script>
<% end %>

