


<% content_for :sidebar_content do %>

<h3>修改位置</h3>


<%= render template: "common/edit_image_upload",locals: {photos: @location.photos} %>

<br>
<%= button_to('刪除此地點', map_location_path(@map,@location), method: :delete , data: { confirm: '你確定要刪除嗎？' } , class:"btn btn-danger",style: "float:right") %>


<% end %>
<%= render template: "common/sidebar_right" %>




<% content_for :javascripts do %>
<script type='text/javascript'>
  (function(scope){

    scope.myMarker = L.marker({lat: <%= @location.lat %>, lng: <%= @location.lng %> }, {
      icon: myIcon,
      draggable: "true"
    }).addTo(map);

    map.setView(new L.LatLng(<%= @location.lat %>, <%= @location.lng %>), 16);


  })(window);

</script>
<% end %>

