<%= render :partial => "maps/map" %>


<% content_for :sidebar_content do %>

<h3>修改位置</h3>
<div id="over_map_form">

  <%= simple_form_for([@map,@location]) do |f| %>

  <div class="field">
    <%= f.input_field :title ,placeholder: '標題',:required => true, maxlength: 25 %>
  </div>
  <br>
  <div class="field">
    <%= f.input_field :content,:required => true,style: "display:none" %>
    <% content_for :trumbowyg_content do %>
    <%= @location.content.html_safe %>
    <% end %>
    <%= render template: "common/trumbowyg" %>
  </div>
  <br>
  <div class="field">
    <%= render template: "common/image_upload",locals: {f: f,photos: @location.photos} %>
  </div>
  <br>
  <div class="field">
    <%= f.input :link_url, maxlength: 25 %>
  </div>
  <div class="field">
    <%= f.input :lat,input_html: {value: @location.lat},readonly: true %>
    <%= f.input :lng,input_html: {value: @location.lng},readonly: true %>
  </div>
  <br>
  <div class="actions">
    <input name="commit" type="submit" value="送出">
  </div>
  <% end %>
</div>

<% end %>
<%= render template: "common/sidebar_right" %>




<% content_for :javascripts do %> 
<script type='text/javascript'>
(function(scope){

  scope.myMarker = L.marker({lat: <%= @location.lat %>, lng: <%= @location.lng %> }, {
    icon: myIcon,
    draggable: "true"
  }).addTo(map);


  myMarker.on("dragend", function(e) {
    var position = e.target.getLatLng();
    setMarkerOnMapArea(e.target, position,setLocationNumfunction);
  });

  map.on("click", function(e) {
    setMarkerOnMapArea(myMarker, e.latlng,setLocationNumfunction);
  });

  $("input[type=submit]").on('click',function() {
    var form_id = $("form:eq(1)").attr("id");
    $("#location_content").val($("#trumbowyg").html());
    $( "#"+form_id ).submit();
  });



})(window);

</script>
<% end %>

