<%= render :partial => "maps/map" %>


<% content_for :sidebar_content do %>

<h3>新增位置</h3>
<div id="over_map_form">

  <%= simple_form_for([@map,@location]) do |f| %>

  <div class="field">
    <%= f.input_field :title ,placeholder: '標題',:required => true, maxlength: 25 %>
  </div>
  <br>
  <div class="field">
    <%= f.input_field :content,:required => true,style: "display:none" %>
    <% content_for :trumbowyg_content do %>
    <% if !@location.content.nil? %>
    <%= @location.content.html_safe %>
    <% end %>
    <% end %>
    <%= render template: "common/trumbowyg" %>
  </div>

  <br>
  <%= f.simple_fields_for :photos do |g| %>  
  <%= g.input :photo %>  
  <% end %> 

  <br>
  <div class="field">
    <%= f.input :link_url, maxlength: 25 %>
  </div>
  <div class="field">
    <%= f.input :lat,readonly: true %>
    <%= f.input :lng,readonly: true %>
  </div>
  <br>
  <div class="actions">
    <input name="commit" type="submit" value="送出">
  </div>
  <% end %>
</div>



<% end %>
<%= render template: "common/sidebar_right" %>


<% content_for :javascripts do %> 
<script type='text/javascript'>
(function(scope){

  scope.myMarker = L.marker(map.getCenter(), {
    icon: myIcon,
    draggable: "true"
  }).addTo(map);

  myMarker.on("dragend", function(e) {
    var position = e.target.getLatLng();
    setMarkerOnMapArea(e.target, position,setLocationNumfunction);
  });

  map.on("click", function(e) {
    setMarkerOnMapArea(myMarker, e.latlng,setLocationNumfunction);
  });

  var setLocationNumfunction = function(point) {
    $("#location_lat").val(point.lat);
    $("#location_lng").val(point.lng);
  };



  $.ajax({
    url: "/maps/<%= @map.id %>/locations",
    dataType: "json",
    success: function (data) {
      var keysArray = Object.keys(data);
      for (var i=0; i<keysArray.length; i++){
        // var circle = L.circle([data[keysArray[i]][1], data[keysArray[i]][0]], 500, {
        //   color: 'red',
        //   fillColor: '#f03',
        //   fillOpacity: 0.5
        // }).addTo(map);
        // circle.bindPopup(data[keysArray[i]][2]);
        //console.log(data[keysArray[i]]);
        var marker = L.marker([data[keysArray[i]]["lat"], data[keysArray[i]]["lng"]],{icon:otherMarker} ).addTo(map);

        var text = "<h2>"+data[keysArray[i]]["title"]+"</h2>";
        marker.bindPopup(text);
      }
    }
  });

  $("input[type=submit]").on('click',function() {
    var form_id = $("form:eq(1)").attr("id");
    $("#location_content").val($("#trumbowyg").html());
    $( "#"+form_id ).submit();
  });



})(window);

</script>
<% end %>

