<%= render :partial => "maps/map" %>
<% content_for :sidebar_content do %>
<h2>匯入</h2>
<h4>格式需求:CSV、Excel</h4>
<ul>
  <li>標題:title </li>
  <li>內容:content </li>
  <li>連結:link_url </li>
  <li>地址:address </li>
  <li>經度:lng </li>
  <li>緯度:lat </li>
  <li>外部圖片網址:outer_photo_url</li>
</ul>

<%= form_tag(import_map_locations_path(@map), multipart: true) do %>
<%= file_field_tag 'file' %>
<br>
<%= submit_tag "匯入" %>
<% end %>
<h2>匯出</h2>
  <%= link_to "CSV", upload_page_map_locations_path(@map,format: "csv") %> |
  <%= link_to "Excel", upload_page_map_locations_path(@map,format: "xls") %>

<% end %>
<%= render template: "common/sidebar_right" %>


<% content_for :javascripts do %> 
<script type='text/javascript'>
(function(){

  var markers = new L.MarkerClusterGroup();
  $.ajax({
    url: "/maps/<%= @map.id %>/locations",
    dataType: "json",
    success: function (data) {
      var keysArray = Object.keys(data);
      for (var i=0; i<keysArray.length; i++){
        // var circle = L.circle([data[keysArray[i]][1], data[keysArray[i]][0]], 500, {
        //   color: 'red',
        //   fillColor: '#f03',
        //   fillOpacity: 0.5
        // }).addTo(map);
        // circle.bindPopup(data[keysArray[i]][2]);
        //console.log(data[keysArray[i]]);
        var marker = L.marker([data[keysArray[i]]["lat"], data[keysArray[i]]["lng"]],{icon:otherIcon} );
        markers.addLayer(marker);

        var text = "<h2>"+data[keysArray[i]]["title"]+"</h2>";
        marker.bindPopup(text);
      }
      map.addLayer(markers);
    }
  });


  $('#location_lat').val(map.getCenter().lat);
  $('#location_lng').val(map.getCenter().lng);


})();

</script>
<% end %>

