<%= render :partial => "maps/map" %>

<div id="over_map_form" style="position: fixed;right: 100px;top: 150px;background-color: #b0c4de;padding:50px;">
  <h3>上傳</h3>
    
  <%= form_tag({action: :upload}, multipart: true) do %>
  <%= file_field_tag 'file' %>
  <%= submit_tag "Go" ,id:"upload_submit",class: "btn btn-default btn-xs" %>
  <% end %>
</div>


<% content_for :javascripts do %> 
<script type='text/javascript'>
(function(){

  $.ajax({
    url: "/maps/<%= @map.id %>/locations",
    dataType: "json",
    success: function (data) {
      var keysArray = Object.keys(data);
      for (var i=0; i<keysArray.length; i++){
        // var circle = L.circle([data[keysArray[i]][1], data[keysArray[i]][0]], 500, {
        //   color: 'red',
        //   fillColor: '#f03',
        //   fillOpacity: 0.5
        // }).addTo(map);
        // circle.bindPopup(data[keysArray[i]][2]);
        //console.log(data[keysArray[i]]);
        var marker = L.marker([data[keysArray[i]]["lat"], data[keysArray[i]]["lng"]],{icon:otherMarker} ).addTo(map);

        var text = "<h2>"+data[keysArray[i]]["title"]+"</h2>";
        marker.bindPopup(text);
      }
    }
  });


  var mapApp = new MapApp(map,myMarker,function(point){
    $('#location_lat').val(point.lat);
    $('#location_lng').val(point.lng);
  });

  $("#button").click(function(){
    alert(mapApp.getPoint().lat);
  });


})();

</script>
<% end %>

