<%= render :partial => "maps/map" %>

<div id="over_map_form" style="position: fixed;right: 100px;top: 150px;background-color: #b0c4de;padding:50px;">
  <h3>上傳CSV</h3>
  <h6>欄位名稱分別對應 標題:title 內容:content 連結:link_url 地址:address 經度:lng 緯度:lat 外部圖片網址:outer_photo_url</h6>

  <%= form_tag(import_map_locations_path(@map), multipart: true) do %>
  <%= file_field_tag 'file' %>
  <%= submit_tag "Import" %>
  <% end %>
</div>


<% content_for :javascripts do %> 
<script type='text/javascript'>
(function(){

  $.ajax({
    url: "/maps/<%= @map.id %>/locations",
    dataType: "json",
    success: function (data) {
      var keysArray = Object.keys(data);
      for (var i=0; i<keysArray.length; i++){
        // var circle = L.circle([data[keysArray[i]][1], data[keysArray[i]][0]], 500, {
        //   color: 'red',
        //   fillColor: '#f03',
        //   fillOpacity: 0.5
        // }).addTo(map);
        // circle.bindPopup(data[keysArray[i]][2]);
        //console.log(data[keysArray[i]]);
        var marker = L.marker([data[keysArray[i]]["lat"], data[keysArray[i]]["lng"]],{icon:otherIcon} ).addTo(map);

        var text = "<h2>"+data[keysArray[i]]["title"]+"</h2>";
        marker.bindPopup(text);
      }
    }
  });


  $('#location_lat').val(map.getCenter().lat);
  $('#location_lng').val(map.getCenter().lng);


})();

</script>
<% end %>

